.header {
  font-size: 42;
  text-align: center;
  margin: 12;
}

.pending {
  font-size: 20;
  color: #284848;
  margin: 12;
} 

.completed {
  font-size: 20;  
  text-decoration: line-through;
  color: gray;
  margin: 12;  
}